@charset "UTF-8";

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
}

header{
	display : flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 80px;
}


form label{
	display: inline-block;
	text-align: right;
	width: 100px;
    height: 30px;
}

form button	{
	margin-left: 100px;
}

.erreur{
	color : red;
}

.inline-form{
	display: inline-block;
}

.inline-form button{
	margin-left: 5px;
}